<div class="container">

    <div class="col mt-5">
			<div class="card">
			  <div class="card-body">
					<form action="/orders/{{order._id}}?_method=patch" method="post">


						<div class="mb-3">
  						<label for="exampleFormControlInput1" class="form-label">Customer Name</label>
  						<input type="text" name="user" class="form-control" id="formGroupExampleInput" value="{{order.customer.name}}">
						</div>
						<div class="mb-3">
  						<label for="formGroupExampleInput2" class="form-label">Order Number</label>
  						<input type="text" name="order_number" class="form-control" id="formGroupExampleInput2" value="{{order.order_number}}">
					</div>
					<div class="mb-3">
						<label for="formGroupExampleInput" class="form-label">Menu Items</label>
						{{#each order.content as |menu|}}
							<!-- <p>{{@index}}</p> -->
							<input type="text" class="form-control me-2 mt-3" id="formGroupExampleInput" value="{{menu.item.name}}">
							<label for="formGroupExampleInput" class="form-label mt-3">Quantity</label>
							<input class="form-control me-2" name="quantity" type="number" value="{{menu.quantity}}">
							<label for="formGroupExampleInput" class="form-label mt-3">Price</label>
							<input class="form-control me-2" type="text" value="{{menu.item.price}}">
						{{/each}}
					</div>
					<div class="mb-3">
						<label for="formGroupExampleInput2" class="form-label">Total Price</label>
						<input type="text"name="total_price" class="form-control" id="formGroupExampleInput2" value="{{order.total_price}}">
				</div>
				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Add Item</label>
					<input type="text" name="name" class="form-control" id="formGroupExampleInput">
				</div>
				<label for="formGroupExampleInput" class="form-label">Quantity</label>
				<input class="form-control me-2" name="quantity" type="number">
				<button type="submit" class="btn btn-outline-secondary mt-3">
					Update
				</button>
					</form>

				</div>
			</div>
		</div>


</div>
