<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col mt-5">
			<div class="card text-center login" style="width: 18rem;">
			  <div class="card-body">
					<form action="/orders/{{order._id}}?_method=patch" method="post">
						{{#each orders as|order|}}
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label"
								>Customer Name</label
							>
							<input name="name" type="text" value="{{order.customer.name}}" class="form-control"/>
						</div>
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label"
								>Order Number</label
							>
							<input name="order_number" type="number" value="Disabled readonly input" class="form-control" value="{{orders.order_number}}"/>
						</div>
						{{#each orders.content as |menu|}}
						<input name="name" type="text" class="form-control" value="{{menu.item.name}}"/>
						<input name="quantity" type="number"  class="form-control" value="{{menu.item.quantity}}"/>
						{{/each}}
					</div>

					<label for="exampleFormControlInput1" class="form-label"
						>Total</label
					>
					<input name="price" type="number"  class="form-control" value="{{orders.total_price}}"/>
						<button class="btn btn-secondary mb-3">Update Item</button>
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label"
								>Menu Item</label
							>
							<input name="name" type="text" class="form-control"/>
						</div>
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label"
								>Quantity</label
							>
							<input name="quantity" type="number" class="form-control"/>
							<button class="btn btn-secondary mb-3">Add Item</button>
						</div>
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label"
								>Menu Item</label
							>
							<input name="name" type="text" class="form-control"/>
						</div>
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label"
								>Quantity</label
							>
							<input name="quantity" type="number" class="form-control"/>
							<button class="btn btn-secondary mb-3">Add Item</button>
						</div>
						{{/each}}
					</form>

				</div>
			</div>
		</div>
		<div class="col">
		</div>
  </div>
</div>
